numpy
tqdm
sentencepiece
jiwer
tensorboard
https://github.com/kpu/kenlm/archive/master.zip
torch==1.5.0+cu101 torchvision==0.6.0+cu101 torchaudio==0.5.0 -f https://download.pytorch.org/whl/torch_stable.html

git clone --recursive https://github.com/parlance/ctcdecode.git
cd ctcdecode && pip install .

torch==1.7.1+cu101 torchvision==0.8.2+cu101 torchaudio==0.7.2 -f https://download.pytorch.org/whl/torch_stable.html